/* Taken from http://bl.ocks.org/phil-pedruco/88cb8a51cdce45f13c7e */
body {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    /*.x.axis path {
        display: none;
    }*/
    .line {
        fill: none;
        stroke: yellow;
        stroke-width: 5px;
    }

    .line1 {
        fill: none;
        stroke: green;
        stroke-width: 5px;
    }

    .area {
    fill: red;
    stroke-width: 0;
    }

    .area1 {
      fill: steelblue;
      stroke-width: 0;
    }

  .legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;
  }
  .dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#red {
  background-color: red;
}

#blue {
  background-color: steelblue;
}

main {
  border-style: solid;
  border-width: 1px;
  width: 7em;
  padding-left: 1em;
}

body {
  display: flex;
  flex-flow: row;
}

section {
  display: block;
}
